*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
}

.content {
    background-color: #242424;
    height: 100vh;
    padding: 2rem;
    display: grid;
    color: white;
    gap: 2rem;
}

h1 {
    font-weight: 400;
    font-size: 2.2rem;
}

@media screen and (min-width: 320px) {
    .content {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .content {
        grid-template-columns: 20rem auto;
    }
}