*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --color-info: #d9d9d9;
    --color-info-dark: #888;
    --color-primary: #222;
    --color-secondary: #e96e50;
    --color-secondary-dark: rgba(233, 110, 80, 0.1);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #111;
}

.content {
    background-color: #111;
    height: 100vh;
    color: var(--color-info);
    overflow: auto;
}

h1 {
    font-weight: 400;
    font-size: 2rem;
}

h2 {
    font-weight: 400;
    font-size: 1.6rem;
}

.loading, .message {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-secondary);
}

.message {
    height: 15rem;
    color: var(--color-info-dark);
}

@media screen and (min-width: 320px) {
    .content {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 992px) {
    .content {
        display: grid;
        grid-template-columns: 10rem auto;
        padding: 1rem;
        gap: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .content {
        grid-template-columns: 17rem auto;
        padding: 2rem;
    }
}

@media screen and (min-width: 1920px) {
    .content {
        grid-template-columns: 18rem auto;
        gap: 15rem;
    }
}

@media screen and (min-width: 2560px) {
    .content {
        grid-template-columns: 20rem auto;

    }
}

@media screen and (min-width: 3000px) {
    .content {
        grid-template-columns: 25rem auto;
    }
}