aside {
    background-color: var(--color-primary);
    padding: 2rem;
    align-items: center;
    gap: 10%;
    border-radius: 10px;
    flex-direction: column;
    overflow: auto;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.nav-link {
    display: flex;
    gap: 10px;
    color: var(--color-info-dark);
    text-decoration: none;
    transition: all 300ms ease;
}

.nav-link.active, .nav-link:hover {
    color: var(--color-info);
}

.nav-icon {
    font-size: 1.15rem;
}

.menu-btn {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: var(--color-info);
    cursor: pointer;
    align-self: end;
    margin: 1rem;
}

@media screen and (min-width: 320px){
    .menu-btn.active {
        display: block;
    }
    aside {
        display: flex;
        position: fixed;
        z-index: 1;
        height: 100vh;
        left: -100%;
        transition: all 350ms ease;
    }
    aside.active {
        left: 0;
    }
}

@media screen and (min-width: 992px) {
    .menu-btn.active {
        display: none;
    }
    aside {
        display: flex;
        position: relative;
        left: 0;
        height: unset;
    }
}


