.weather-container {
    display: grid;
}

.weather-container section {
    margin-top: 4rem;
}

.weather-container section:first-child {
    margin: 0;
}

.city-form {
    display: flex;
    gap: 1rem;
}

.city-input {
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 10px;
    background-color: var(--color-primary);
    border: none;
    outline: none;
    color: var(--color-info);
}

.city-submit {
    color: var(--color-info);
    border: 1px solid var(--color-secondary);
    border-radius: 10px;
    width: 7rem;
    background: none;
    cursor: pointer;
    transition: all 300ms ease;
}

.city-submit:hover {
    background-color: var(--color-secondary-dark);
    color: var(--color-secondary);
}

.current-weather {
    background-color: #222;
    height: 20rem;
    margin-top: 1rem;
}

.previous-5-days {
    background-color: #222;
    height: 20rem;
    margin-top: 1rem;
}

.other-cities {
    background-color: #222;
    height: 20rem;
    margin-top: 1rem;
}

.status-icon {
    width: 5rem;
}

@media screen and (min-width: 320px) {
    .weather-container {
        grid-template-columns: 1fr;
    }
    .weather-container section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .city-input {
        width: 95%;
    }
    .current-weather {
        width: 95%;
    }

    .previous-5-days {
        width: 95%;
    }

    .other-cities {
        width: 95%;
    }
}

@media screen and (min-width: 1025px) {
    .weather-container {
        grid-template-columns: auto 20rem;
    }
    .weather-container section {
        display: block;
    }
    .city-input {
        width: 25rem;
    }
}